# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# local file
log_debug_*
*.csv
config.json
*.log

# Jupyter Notebook
.ipynb_checkpoints
main_test.ipynb
# utilisés pour le dev/ test
.ipynb

# on ne garde pas les corpus de mail
corpus_mails/*.html